<h2>New User Form</h2>

<form action="/">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br>
  Age:<br>
  <input type="text" name="age" value="">
  <br>
  Email:<br>
  <input type="text" name="email" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
